* {
  font-family: "Quicksand", sans-serif;
  text-decoration: none;
  margin: 0;
  padding: 0;
  color: black;
}

body {
  background-color: #e3e7eb;
}

/* NAVIGATION */

nav {
  background-color: #f4f3f3;
  box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.03);
}

ul {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 10px 80px;
  list-style-type: none;
}

li {
  font-weight: 700;
}

.nav-contact {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.nav-contact a {
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 15px 0;
}

/* CARD/BODY */

.container {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  width: 90%;
  margin: 20px auto;
  padding: 50px 0;
  border-radius: 5px;
  box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.1);
}

.description {
  width: 60%;
}

.desc {
  text-align: justify;
}

.contact {
  background-color: black;
  color: white;
  border-radius: 20px;
  border: none;
  padding: 7px 15px;
  margin: 15px 0;
  cursor: pointer;
}

.social {
  margin-top: 30px;
}

.social a {
  margin-right: 10px;
}

.fa-brands {
  margin: 0 3px;
}

.profile {
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.1);
}

.profile img {
  width: 100%;
  height: 320px;
  object-fit: cover;
}

.profile h3 {
  margin: 0;
  padding-top: 15px;
}

.profile,
span h3 {
  padding-bottom: 15px;
}

/* CONTACT */

.contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 20px auto;
  padding: 50px 0;
}

form h1 {
  text-align: center;
}

.inp-contact {
  width: 400px;
  margin: 20px 0;
}

.inp-contact label {
  display: block;
  font-weight: 600;
  margin-bottom: 5px;
}

input,
select,
textarea {
  width: 100%;
  background-color: white;
  border-style: hidden;
  border-radius: 5px;
  padding: 10px 0;
  box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
}

textarea {
  height: 100px;
}

.btn-submit {
  margin-top: -20px;
  text-align: end;
}

/* Add Project Page */
.post-project {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 20px auto;
  padding: 50px 0;
}

.post-project h1 {
  margin-bottom: 20px;
}

.post-project label {
  margin-bottom: 7px;
}

.form-project {
  width: 400px;
  margin: 20px 0;
}

.form-project,
.date label {
  font-weight: 500;
}

.date {
  display: flex;
  gap: 10px;
  width: 400px;
  margin: 20px 0;
}

.technologies {
  width: 400px;
  display: flex;
  gap: 30px;
}

.technologies input {
  box-shadow: none;
  padding: 0;
}

.nodejs,
.reactjs,
.nextjs,
.typescript,
.vue,
.angular {
  display: flex;
  gap: 7px;
}

#nodejs,
#reactjs,
#nextjs,
#typescript,
#vue,
#angular {
  width: auto;
}

/* Show Project */
.my-project {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  width: 90%;
  margin: 20px auto;
  padding: 50px 0;
}

.project {
  background-color: white;
  width: 25%;
  border-radius: 10px;
  overflow: hidden;
}

.project img.hero {
  width: 100%;
  height: 320px;
  object-fit: cover;
}

.desc-project {
  margin: 15px;
}

.desc-project p {
  margin-bottom: 10px;
  text-align: justify;
}

.icon-stack {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.icon-stack img {
  width: 32px;
}

.project button {
  display: block;
  width: 100%;
}

.action {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.btn-edit {
  background-color: black;
  color: white;
  border-radius: 10px;
  border: none;
  padding: 7px 15px;
  margin: 15px 0;
  cursor: pointer;
}

.btn-delete {
  background-color: red;
  color: white;
  border-radius: 10px;
  border: none;
  padding: 7px 15px;
  margin: 15px 0;
  cursor: pointer;
}
